body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffefcf;
}

#title {
  margin-top: 15px;
  position: relative;
  font-size: 48px;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 5px solid #EEDEBE;
  padding: 5px;
  border-radius: 10px;
}

